# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=4fcdbb3265f66fe7500e0cc193db2c3d61203832670a886522a7ed5554f8efcf5f331a02b01a86cfc9671a2602e6c4b8ab7a10651f28e1e31616cead511a2bb5
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
PSQL_DATA_URI=please-change-me
