<%- content_for(:title, '500: Serverfehler') -%>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8 py-5 px-lg-5">
      <h1 class="text-uppercase mt-lg-5 mb-3"><b>500: Serverfehler</b></h1>
      <p>Es ist ein unerwarteter Server-Fehler aufgetreten. Bitte versuchen Sie es zu einem späteren Zeitpunkt
        erneut.</p>
      <%= link_to '/', class: 'btn btn-primary' do %>
        Weiter zur Startseite
      <% end %>
    </div>
  </div>
</div>
